@import url("./global.css");

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 20px;
}


.formulario {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  width: 100%;
  max-width: 400px;  
}

.formulario form {
  display: flex;
  flex-direction: column;
}

.formulario form .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
